{% extends "base.html" %}
{% load i18n %}

{% block page_title %}Login{% endblock page_title %}

{% block body %}

<h1>{{ contactDetails.name }}
</h1>
<div class="content">
<p><a href="/contacts/search">Back to Search</a></p>

{% if contactInfo.phone %}
<h2>Phone</h2>
<ul class="resultList">
{% for p in contactInfo.phone %}
<li><a href="tel:{{p.phone}}">{{p.phone}}</a> <span class="meta">({{p.description}})</span></li>
{% endfor %}
</ul>
{% endif %}

{% if contactInfo.email %}
<h2>Email</h2>
<ul>
{% for e in contactInfo.email %}
<li><a href="mailto:{{e.email}}">{{e.email}}</a> <span class="meta">({{e.description}})</span></li>
{% endfor %}
</ul>
{% endif %}

{% if contactInfo.address %}
<h2>Address</h2>
<ul>
{% for a in contactInfo.address %}
<li>{{a.address}} <span class="meta">({{a.description}})</span></li>
{% endfor %}
</ul>
{% endif %}

{% if contactInfo.im %}
<h2>IM</h2>
<ul>
{% for i in contactInfo.im %}
<li>{{i.name}} <span class="meta">({{i.description}})</span></li>
{% endfor %}
</ul>
{% endif %}

<p class="meta">Last updated {{ contactDetails.updated_on }} by {{ contactDetails.updated_by_screenname }}.</p>

</div>
{% endblock body %}
